/*@mixin MacType($font) {
  font-weight: 600 !important;
  font-family: $font !important;
  text-shadow: 0.02em 0.02em 0.03em #b8b8b8 !important;
}
*/
* {
  margin: 0px;
}

body {
  margin-top: 10%;
  text-align: center;
}
.header {
  padding-bottom: 20px;
  h1 {
	font-family: "Centaur";
	// font-family: "Product Sans";
	font-weight: lighter;
	// @include MacType("PristinaStd");
	// @include MacType("Centaur");
	// @include MacType("Product Sans");
    font-size: 128px;
  }
  span {
    color: gray;
  }
}
@font-face {
	font-family: "Centaur";
	src: url('/fonts/Centaur.ttf');
}
@font-face {
	font-family: "PristinaStd";
	src: url('/fonts/PristinaStd.ttf');
}
@font-face {
	font-family: "Product Sans";
	src: url('/fonts/ProductSans.ttf');
}
a {
  text-decoration: none;
  color: black;
}
